.search-box{
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.search-box:hover{
    width: 350px;
    transition: all .5s;
}

.search-box:focus{
    width: 550px;
    transition: all .5s;
}